.game-page {
  margin:0;
  padding: 0;
  height: 100%;
  background-color: black;
}

.game-page-information {
  z-index: 7;
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 380px;
  width: 95%;
  justify-content: center;
}

.game-page-information-right {
  width: 100%;
}

.game-page-information-art {
  display: flex;
  width: 272px;
  height: 380px;
}

.game-page-information-art img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.game-page-information-description {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: rgba(0,0,0,0.85);
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  margin: 0em 1em;
}

.game-page-information-description-title{
  margin: 0.25em;
  height: 15%;
  width: 80%;
  color: white;
  font-style: italic;
  font-size: 1.25em;
  text-align: center;
  border: 1px solid red;
}

.game-page-information-description-platform {
  margin: 0.15em;
  height: 15%;
  width: 80%;
  color: white;
}

.game-page-information-description-info {
  margin: 0.15em;
  height: 65%;
  width: 80% ;
  padding: 0em 1.25em;
  color: white;
  font-size: 0.9em;
  height: 100px;
  line-height: 1.35em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-page-information-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: dodgerblue;
  color: white;
  font-size: 1.05em;
  width: 160px;
  height: 40px;
}

.game-page-information-button-pressed {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: dodgerblue;
  color: white;
  font-size: 1.05em;
  width: 160px;
  height: 40px;
  border:2px solid white;
  opacity: 0.5;
}
