.main-page {
  margin-top: 75px;
  text-align: center;
}

.main-page h2 {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.main-page-gamelist {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
}

.main-page-gamelist li {
  list-style: none;
  text-decoration: none;
  width: 272px;
  height: 380px;
  margin: 1.55em 1em 2.5em 1em;
  border: 2px solid grey;
  padding: 0.5em;
  text-align: center;
  color: red;
}

.main-page-gamelist a {
  color: blue;
  text-decoration: none;
}

.main-page-gamelist p {
  color: black;
  font-size: 1.25em;
  font-weight: 600;
  margin: 10px 0 auto;
  font-style: italic;
}
