.party-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}

.party-view-info {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.party-view-info-title {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0em;
}

.party-view-info-size {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0em;
}

.party-view-info-time {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0em;
}

.party-view-box-title {
  text-align: left;
}

.party-view-box-content {
  text-align: right;
}

.party-view-breaker {
  width: 100%;
  border: 0.25px solid white;
  opacity: 0.5;
}

.party-view-users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  width: 85%;
  margin: 2em 0em 0.5em 0em;
}

.party-view-decision {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 2em 0em;
}

.party-view-creator {
  display: flex;
  flex-direction: row;
}

.party-view-member {
  display: flex;
  flex-direction: row;
}

.party-view-decision a {
  color: white;
  text-decoration: none;
}

.party-view-decision-join {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: blue;
  width: 85px;
  height: 40px;
  color: white;
  border-radius: 3px;
}

.party-view-decision-leave {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: red;
  width: 85px;
  height: 40px;
  color: white;
  border-radius: 3px;
}

.party-view-decision-edit {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: orange;
  width: 85px;
  height: 40px;
  color: white;
  border-radius: 3px;
}

.party-view-decision-delete {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: orangered;
  width: 85px;
  height: 40px;
  color: white;
  border-radius: 3px;
}

.party-view-decision-back {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: purple;
  width: 85px;
  height: 40px;
  color: white;
  border-radius: 3px;
}

.party-view-decision-start {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: green;
  width: 85px;
  height: 40px;
  color: white;
  border-radius: 3px;
}
