.party-compose {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.party-compose-base {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin-bottom: 1em;
}

.party-compose-base>p {
  color: white;
}

.party-compose-base-title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  margin: 0.5em 0em;
  width: 75%
}

.party-compose-base-title>p {
  text-align: center;
  color: white;
}

.party-compose-base-title input {
  text-align: center;
  display: flex;
  outline: none;
  border: none;
  width: 100%;
  height: 30px;
}

.party-compose-base-party {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}

.party-compose-base-party>p {
  text-align: center;
  color: white;
}

.party-compose-base-party>select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 1em 0em;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
}

.party-compose-base-time {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0.5em 0em;
}

.party-compose-base-time>span{
  color: white;
  text-align: center;
}

.party-compose-tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

/*.party-compose-tag>span {
  margin: 0.5em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 40px;
  color: white;
  background-color: dodgerblue;
}*/

.party-tag-lvl {
  margin: 0.5em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
  height: 40px;
  color: white;
  background-color: dodgerblue;
}

.party-tag-lvl-pressed {
  margin: 0.5em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
  height: 40px;
  color: white;
  background-color: dodgerblue;
  opacity: 0.25;
}

.party-tag-raid {
  margin: 0.5em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
  height: 40px;
  color: white;
  background-color: dodgerblue;
}

.party-tag-raid-pressed {
  margin: 0.5em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
  height: 40px;
  color: white;
  background-color: dodgerblue;
  opacity: 0.25;
}

.party-tag-pro {
  margin: 0.5em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
  height: 40px;
  color: white;
  background-color: dodgerblue;
}

.party-tag-pro-pressed {
  margin: 0.5em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
  height: 40px;
  color: white;
  background-color: dodgerblue;
  opacity: 0.25;
}

.party-tag-bgn {
  margin: 0.5em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
  height: 40px;
  color: white;
  background-color: dodgerblue;
}

.party-tag-bgn-pressed {
  margin: 0.5em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
  height: 40px;
  color: white;
  background-color: dodgerblue;
  opacity: 0.25;
}

.party-tag-exp {
  margin: 0.5em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
  height: 40px;
  color: white;
  background-color: dodgerblue;
}

.party-tag-exp-pressed {
  margin: 0.5em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
  height: 40px;
  color: white;
  background-color: dodgerblue;
  opacity: 0.25;
}

.party-tag-pvp {
  margin: 0.5em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
  height: 40px;
  color: white;
  background-color: dodgerblue;
}

.party-tag-pvp-pressed {
  margin: 0.5em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
  height: 40px;
  color: white;
  background-color: dodgerblue;
  opacity: 0.25;
}

.party-tag-pve {
  margin: 0.5em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
  height: 40px;
  color: white;
  background-color: dodgerblue;
}

.party-tag-pve-pressed {
  margin: 0.5em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
  height: 40px;
  color: white;
  background-color: dodgerblue;
  opacity: 0.25;
}

.party-tag-farm {
  margin: 0.5em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
  height: 40px;
  color: white;
  background-color: dodgerblue;
}

.party-tag-farm-pressed {
  margin: 0.5em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5%;
  height: 40px;
  color: white;
  background-color: dodgerblue;
  opacity: 0.25;
}

.party-compose-preview {
  margin: 2em 0em;
  color: white;
  width: 85%;
  border: 1px solid white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.party-compose-preview-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%
}

.party-compose-preview-title{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 35%;
}

.party-compose-preview-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 35%;
}

.party-compose-decision {
  margin: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

span.party-compose-decision-confirm {
  margin: 0em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: green;
  width: 25%;
  height: 50px;
  color: white;
  /*background: #008a00;
  background: -moz-linear-gradient(-15deg, #008a00 70%, #20d820 73%, #008a00 100%);
  background: -webkit-linear-gradient(-15deg, #008a00 70%,#20d820 73%,#008a00 100%);
  background: linear-gradient(165deg, #008a00 70%,#20d820 73%,#008a00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#008a00',GradientType=1 ); */
}

span.party-compose-decision-cancel {
  margin: 0em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: red;
  height: 50px;
  width: 25%;
  color: white;
  /*background: #ff0000;
  background: -moz-linear-gradient(-25deg, #ff0000 63%, #FF2121 64%, #ff2323 100%);
  background: -webkit-linear-gradient(-25deg, #ff0000 63%,#FF2121 64%,#ff2323 100%);
  background: linear-gradient(155deg, #ff0000 63%,#FF2121 64%,#ff2323 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff2323',GradientType=1 ); */
}

span.party-compose-decision-delete {
  margin: 0em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: red;
  height: 50px;
  width: 25%;
  color: white;
}
