.search-bar {
  z-index: 10;
  width: 100%;
  padding: 0;
  border: none;
  text-align: center;
  background-color: green;
  position: fixed;
  top: 0px;
}

.search-bar input {
    width: 85%;
    padding: 5px;
    margin: 15px;
    height: 25px;
    text-align: center;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/490px-Magnifying_glass_icon.svg.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: right;
}

.search-bar button {
  width: 5%;
}
