.search-bar {
  z-index: 10;
  width: 100%;
  height: 75px;
  padding: 0;
  text-align: center;
  background-color: black;
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.search-bar-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar-input{
  width: 95%;
  display: flex;
  text-align: center;
  outline: none;
  box-sizing: border-box;
  border: none;
  font-size: 1em;;
  background-color: rgba(255,255,255,0.25);
  padding: 0.5em 0.6em;
}

.search-bar-form {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  color: none;
  box-sizing: border-box;
}

.search-bar-form input {
  color: white;
  opacity: 0.9;
}


.search-bar-logo {
  display: flex;
  height: 40px;
  width: 40px;
  margin-left: 0.4em;
  margin-right: 0.7em;
}

.search-bar-button {
  display: flex;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1em;
  outline: none;
  padding: 0.5em 1em;
}

.search-bar-button img {
  margin-left: 0.5em;
  height: 30px;
  width: 20px;
}

.search-bar-break {
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2px;
  position: fixed;
  top: 70px;
  background: -moz-linear-gradient(left, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.75) 25%, rgba(255,255,255,0.75) 75%, rgba(255,255,255,0.25) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.75) 25%,rgba(255,255,255,0.75) 75%,rgba(255,255,255,0.25) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0.25) 10%,rgba(255,255,255,0.75) 50%,rgba(255,255,255,0.75) 50%,rgba(255,255,255,0.25) 90%);
  /*margin: 1em 0em;*/
  opacity: 0.5;
  /*border: 1px solid red;*/
}
